.step-container{
    margin: 3rem 5rem;
}

.step-header{
font-size: 24px;
color: blue;
font-weight: 600;
}

.step-question-container{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}
